


#body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }
  
  
img{  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

 .text2{
    color: white;
    font-size: 8vh;
    text-align: left;
 }





body {
  overflow-x:hidden;
  position: relative;
  user-select: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}


.Image_to_align{
    display: inline-block;

}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 5vh;
}

.banner {
    background-color: white;
    width: 100%;
    height: 75px;
    border: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  
  .logo {
    height: 10vh;
    width: 25vh;
    opacity: 1;
    z-index: 2;
    margin-left: 20px;
    margin-top: 30px;
    
  }
  
  #navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0;
  }
  
  #navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  
  #navbar a {
    text-decoration: none;
    color: black;
  }
  
  .dropdown {
    position: absolute;
    right: 100px;
    top: 35px;
    z-index: 2;
    font-family:Georgia, 'Times New Roman', Times, serif;

}



#Options{
    margin-right: -60px;
    margin-top: 1vh;
    font-size: 4vh;
}

.a1{
    color: white;
}
.dropdown-content {
    display: none;
    right: -90px;
    top: 90px;
    position: absolute;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 300x;
    height: 300px;
    border-radius: 10px;
    z-index: 3;
    text-align: center;
    opacity: 0;
    transition: all 1s ease-in-out;
    animation: dropdown-content-animation 1s ease-in-out;
  }
  
  @keyframes dropdown-content-animation {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.dropdown a {
    color: white;
    font-size: 30px;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
  }

.backgroundimg {
    background-color: black;
    background-image: url('Images/Hyllis.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#fadeIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-image {
  max-width: 30%;
  height: auto;
  width: auto;
  display: block;
  margin-bottom: 20px;
  object-position: center;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

.desc1 {
  font-size: x-large;
}

::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.desc2 {
  font-size: x-large;
  text-align: left;
  margin-top: 150px;
  margin-left: 50px;
}

.desc3 {
  font-size: x-large;
  text-align: left;
  margin-top: 150px;
  margin-right: 50px;
}

.desc4 {
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img2 {
  width: 35%;
  height: 35%;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: 150px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img3 {
  width: 35%;
  height: 35;
  margin-right: 50px;
  margin-left: 20px;
  margin-top: 150px;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

footer a:hover {
  color: #ccc;
}